Population in different countries  
2 Datasets from kaggle

In [1]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_population= pd.read_csv('../data/world_population.csv')
df_population.columns = df_population.columns.str.replace(' ','_')
df_population.columns = df_population.columns.str.lower()
df_population.head(10)

,rank,cca3,country/territory,capital,continent,2022_population,2020_population,2015_population,2010_population,2000_population,1990_population,1980_population,1970_population,area_(km²),density_(per_km²),growth_rate,world_population_percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
5,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
6,224,AIA,Anguilla,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
7,201,ATG,Antigua and Barbuda,Saint John’s,North America,93763,92664,89941,85695,75055,63328,64888,64516,442,212.1335,1.0058,0.00
8,33,ARG,Argentina,Buenos Aires,South America,45510318,45036032,43257065,41100123,37070774,32637657,28024803,23842803,2780400,16.3683,1.0052,0.57
9,140,ARM,Armenia,Yerevan,Asia,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743,93.4831,0.9962,0.03

In [9]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   rank                         234 non-null    int64
 1   cca3                         234 non-null    object
 2   country/territory            234 non-null    object
 3   capital                      234 non-null    object
 4   continent                    234 non-null    object
 5   2022_population              234 non-null    int64
 6   2020_population              234 non-null    int64
 7   2015_population              234 non-null    int64
 8   2010_population              234 non-null    int64
 9   2000_population              234 non-null    int64
 10  1990_population              234 non-null    int64
 11  1980_population              234 non-null    int64
 12  1970_population              234 non-null    int64
 13  area_(km²)                   234 non-null    int64
 14  density_(per_km²)            234 non-null    float64
 15  growth_rate                  234 non-null    float64
 16  world_population_percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [4]:
df_density= pd.read_csv('../data/world_population_density.csv')
df_density.columns = df_density.columns.str.replace(' ','_')
df_density.columns = df_density.columns.str.lower()
df_density.head(10)

,cca2,name,pop2021,pop2020,pop2050,pop2030,pop2019,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,density,growthrate,worldpercentage,rank
0,CN,China,1444216.107,1439323.776,1402405.170,1464340.159,1433783.686,1406847.870,1368810.615,1290550.765,1176883.674,1000089.235,827601.394,9706961,148.7815,1.0034,0.1834,1
1,IN,India,1393409.038,1380004.385,1639176.033,1503642.322,1366417.754,1310152.403,1234281.170,1056575.549,873277.798,698952.844,555189.792,3287590,423.8391,1.0097,0.1769,2
2,US,United States,332915.073,331002.651,379419.102,349641.876,329064.917,320878.310,309011.475,281710.909,252120.309,229476.354,209513.341,9372610,35.5200,1.0058,0.0423,3
3,ID,Indonesia,276361.783,273523.615,330904.664,299198.430,270625.568,258383.256,241834.215,211513.823,181413.402,147447.836,114793.178,1904569,145.1046,1.0104,0.0351,4
4,PK,Pakistan,225199.937,220892.340,338013.196,262958.794,216565.318,199426.964,179424.641,142343.578,107647.921,78054.343,58142.060,881912,255.3542,1.0195,0.0286,5
5,BR,Brazil,213993.437,212559.417,228980.400,223852.122,211049.527,204471.769,195713.635,174790.340,149003.223,120694.009,95113.265,8515767,25.1291,1.0067,0.0272,6
6,NG,Nigeria,211400.708,206139.589,401315.000,262977.337,200963.599,181137.448,158503.197,122283.850,95212.450,73423.633,55982.144,923768,228.8461,1.0255,0.0268,7
7,BD,Bangladesh,166303.498,164689.383,192567.778,178993.869,163046.161,156256.276,147575.430,127657.854,103171.956,79639.491,64232.482,147570,1126.9465,1.0098,0.0211,8
8,RU,Russia,145912.025,145934.462,135824.481,143347.515,145872.256,144985.057,143479.274,146404.903,147531.561,138053.150,130148.653,17098242,8.5337,0.9998,0.0185,9
9,MX,Mexico,130262.216,128932.753,155150.818,140875.762,127575.529,121858.258,114092.963,98899.845,83943.132,67761.372,51493.565,1964375,66.3123,1.0103,0.0165,10

In [8]:
df_density.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cca2             231 non-null    object
 1   name             232 non-null    object
 2   pop2021          232 non-null    float64
 3   pop2020          232 non-null    float64
 4   pop2050          232 non-null    float64
 5   pop2030          232 non-null    float64
 6   pop2019          232 non-null    float64
 7   pop2015          232 non-null    float64
 8   pop2010          232 non-null    float64
 9   pop2000          232 non-null    float64
 10  pop1990          232 non-null    float64
 11  pop1980          232 non-null    float64
 12  pop1970          232 non-null    float64
 13  area             232 non-null    int64
 14  density          232 non-null    float64
 15  growthrate       232 non-null    float64
 16  worldpercentage  232 non-null    float64
 17  rank             232 non-null    int64
dtypes: float64(14), int64(2), object(2)
memory usage: 32.8+ KB